@import "./variables";
@import "./cards";
@import "./buttons";
@import "./dialogs";
@import "./mobile";

body * {
  font-family: "Quicksand", sans-serif;
}

header {
  background: none;
  box-shadow: none;
}
